@import "variables.less";

/*Page Catalo*/
/*Blok Breadcrumbs*/
.breadcrumbs{
    margin-bottom: 35px;
    margin-top: 15px;
    .breadcrumbs__item {
        display: inline-block;
        position: relative;
        white-space: nowrap;
        &first-child {
            margin-left: -10px
        }
        &after{
            content: '/';
            display: inline-block;
            color: #eee;
            margin: 0 10px
        }
    }
    .breadcrumbs__item:last-child:after {
        content: ''
    }

    .breadcrumbs__item-link {
        color: #aaa;
        padding: 0 10px;
        display: inline-block;
        vertical-align: top
    }

    .breadcrumbs__item_shorted-link {
        font-size: 0
    }

    .breadcrumbs__item_shorted-link:before {
        content: '...';
        font-size: 13px;
        display: inline-block;
        vertical-align: top
    }

    .breadcrumbs__item_shorted-link:hover {
        font-size: inherit;
        color: @text-dark;
    }

    .breadcrumbs__item_shorted-link:hover:before {
        display: none
    }

    .breadcrumbs__sku {
        color: #aaa;
        float: right
    }
}
/*End Block Breadcrumbs*/
.heading{
    font-family: @polka-font-2;
    color: @text-dark;
    span{
        color: @text-color;
    }
}
/*Blok left sidebar*/
.catalog-navigation-wrap{
    .catalog-navigation__title{
        font-weight: 700;
        color: @text-dark;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .catalog-navigation {
        margin: 0;
        padding: 0;
        font-size: 13px;
        list-style-type: none;
    }

    .catalog-navigation__item {
        margin: 0 0 20px;
        &last-child {
            margin: 0
        }
    }

    .catalog-navigation__link_active {
        color: @text-dark;
    }

    .catalog-navigation__cnt {
        color: #bbb;
        margin-left: 1px;
        font-size: 11px
    }

    .catalog-navigation_subtree {
        padding: 4px 0 0 10px
    }

    

    .catalog-navigation_innactive {
        -webkit-transition: opacity .3s ease;
        transition: opacity .3s ease;
        opacity: .8
    }

    .catalog-navigation_innactive a {
        -webkit-transition: color .3s ease;
        transition: color .3s ease;
        color: #a1a1a1;
        cursor: default
    }
}
/*End Block left sidebar*/