@import "bootstrap/bootstrap.less";
@import "variables.less";

/*функция подключения шрифтов*/

.font(@fontName; @urlName: @fontName; @weight: normal; @style: normal) {
  font-family: '@{fontName}';
  src: url('../fonts/@{urlName}/@{urlName}.eot');
  src: url('../fonts/@{urlName}/@{urlName}.eot#iefix') format('embedded-opentype'),
  url('../fonts/@{urlName}/@{urlName}.woff') format('woff'),
    url('../fonts/@{urlName}/@{urlName}.ttf') format('truetype'),
    url('../fonts/@{urlName}/@{urlName}.svg') format('svg');
    font-weight: @weight;
    font-style: @style;
}

@font-face {
  .font(@font-family-base);
}
@font-face {
  .font(@fontLight);
}
@font-face {
  .font(@fontItalic);
}
@font-face {
  .font(@fontCGR);
}

a:active, a:focus { outline: none; }
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}
button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0;
}

body {
  padding: 50px 0 0 0;

}