
/*Шрифты на сайте */
/*Цвет фона для <body>.*/
@body-bg:#ffffff;

/*Глобальный цвет текста для <body>.*/
@gray-dark:#323232;

/*Глобальный цвет текстовой ссылкой.*/
@link-color:#464646;

/*Цвет наведения ссылки */
@link-hover-color:#c8302f;

/*Базовый шрифт на сайте*/
/* font-family: "OpenSansRegular"; */
@font-family-base: 'OpenSansRegular';

@fontLight: 'OpenSansLight';

@fontItalic: 'OpenSansItalic';

@fontCGR: 'CenturyGothicRegular';

