.fraction-slider{
	position:relative;
	width:100%; height:100%;
	overflow:visible;
}

.fraction-slider .slide{
	display:none; width:100%; height:100%;
	position:absolute;
	/* z-index:5000; */
	z-index:1000;
	background-color: #7a7a7a;
}

.fraction-slider .active-slide{
	/* z-index:8000; */
	z-index:5000;
}

.fraction-slider .fs_obj{
	display:block; display:none;
	position:absolute;
	top:0px; left:100%;
	/* z-index:7000; */
	z-index:3000
}

.fraction-slider .fs_fixed_obj{
	/* z-index:6000; */
	z-index:2000;
	left:0;
}

.fraction-slider .fs_obj *{
	display:inline-block;
	position:relative;
	top:0px; left:0px;
}

.fs_loader{
	width:100%; height:400px;
	background:url(images/fs.spinner.gif) center center no-repeat transparent;
}

/** CONTROLS **/

.fraction-slider .prev,
.fraction-slider .next{
	display:none;
	position:absolute;
	width:45px; height:45px;
	z-index:7910;
}

.fraction-slider .prev{
	left:10px; top:45%;
	background:url(images/fs.prevnext.png) 0px 0px no-repeat transparent;
	
}
.fraction-slider .prev:hover{
	background:url(images/fs.prevnext.png) 0px -45px no-repeat transparent;
}

.fraction-slider .next{
	right:10px; top:45%;
	background:url(images/fs.prevnext.png) -45px 0px no-repeat transparent;
}
.fraction-slider .next:hover{
	background:url(images/fs.prevnext.png) -45px -45px no-repeat transparent;
}

.fraction-slider:hover .prev,
.fraction-slider:hover .next{
	display:block;
}

/** PAGER **/

.fs-pager-wrapper{
	position:absolute;
/* 	left:10px; */
	/* bottom:10px; */
	bottom: -70px;
	z-index:7900;	
	border-bottom: 2px solid;
	width: 100%;
}

/* .fs-pager-wrapper a{
	display:inline-block;
	width:14px; height:14px;
	margin:0 5px 0 0;
	background:url(images/fs.pager.png) 0px -14px no-repeat transparent;
}
.fs-pager-wrapper .active{
	background:url(images/fs.pager.png) 0px 0px no-repeat transparent;
} */

.fs-pager-wrapper a{
	display:inline-block;
	width:20%;
	/* height:50px; */
	position: relative;
	top: 2px;
		
}
.fs-pager-wrapper a:before{
	content: "";
    position: relative;
    float: left;
    top: -10px;    
    display: block;
    height: 55px;
    width: 80px;
}

.fs-pager-wrapper a[rel="0"]:before{
    background: url(images/Bg_slaider_pager.png) 0px -18px no-repeat transparent;
}
/* .fs-pager-wrapper a[rel="0"]:after{
	content: "Зерноперерабатывающая промышленность";
} */

.fs-pager-wrapper a[rel="1"]:before{
    background: url(images/Bg_slaider_pager.png) -85px -18px no-repeat transparent;
}
/* .fs-pager-wrapper a[rel="1"]:after{
	content: "Строительная промышленность";

} */
.fs-pager-wrapper a[rel="2"]:before{
	
    background: url(images/Bg_slaider_pager.png) -170px -13px no-repeat transparent;
}
/* .fs-pager-wrapper a[rel="2"]:after{
	content: 'Пищевая промышленность';

} */
.fs-pager-wrapper a[rel="3"]:before{
	
    background: url(images/Bg_slaider_pager.png) -250px -11px no-repeat transparent;
}
/* .fs-pager-wrapper a[rel="3"]:after{
	content: "Химическая промышленность";

} */
.fs-pager-wrapper a[rel="4"]:before{
	
    background: url(images/Bg_slaider_pager.png) -330px -11px no-repeat transparent;
}
/* .fs-pager-wrapper a[rel="4"]:after{
	content: "Вспомогательные материалы";

} */
.fs-pager-wrapper .active[rel="0"]:before, .fs-pager-wrapper a[rel="0"]:hover:before{
	background:url(images/Bg_slaider_pager.png) 0px -74px no-repeat transparent;
} 

.fs-pager-wrapper .active[rel="1"]:before, .fs-pager-wrapper a[rel="1"]:hover:before{
	background:url(images/Bg_slaider_pager.png) -85px -77px no-repeat transparent;
}
.fs-pager-wrapper .active[rel="2"]:before, .fs-pager-wrapper a[rel="2"]:hover:before{
	background:url(images/Bg_slaider_pager.png) -170px -71px no-repeat transparent;
}
.fs-pager-wrapper .active[rel="3"]:before, .fs-pager-wrapper a[rel="3"]:hover:before{
	background:url(images/Bg_slaider_pager.png) -250px -71px no-repeat transparent;
}
.fs-pager-wrapper .active[rel="4"]:before, .fs-pager-wrapper a[rel="4"]:hover:before{
	background:url(images/Bg_slaider_pager.png) -330px -69px no-repeat transparent;
}    
.fs-pager-wrapper .active{
	border-bottom: 3px solid #d05b5a;
	color: #d05b5a;
}
#bg-progress-bar{
	position: relative;
	top:5px;
	width: 100%;
}