@media(min-width: 2000px) {
    .right-sidebar {
        padding-left:1%;
        padding-right: 10%
    }

    .info-prev img {
        width: 100%;
        height: 230px;
        margin: 0
    }

    #topLanguage {
        width: 100px
    }

    .prew-news {
        padding-bottom: 130px
    }
}

@media (min-width: 1680px )and (max-width: 1999px) {
    .prew-news {
        padding-bottom:130px
    }

    #topLanguage {
        width: 120px
    }

    .info-prev img {
        width: 100%;
        height: 230px;
        margin: 0
    }

    .info-prev iframe {
        height: 230px
    }

    .topNavItem {
        height: 70px
    }

    .slider-home-page .slider {
        height: 620px
    }

    .red {
        font-size: 42px
    }

    .fs-pager-wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
        bottom: -98px!important
    }

    .fs-pager-wrapper a {
        font-size: 16px;
        top: 31px;
        padding-left: 25px;
        padding-right: 0;
        padding-bottom: 10px
    }

    .fs-pager-wrapper a[rel="1"]:after,.fs-pager-wrapper a[rel="3"]:after,.fs-pager-wrapper a[rel="4"]:after {
        padding-right: 35px
    }

    .fs-pager-wrapper a[rel="2"]:after {
        padding-right: 40px
    }

    .top-info {
        width: 275px;
        margin: 0 auto
    }

    .right-sidebar {
        width: 415px;
        padding-left: 0
    }

    .prew-news .prew-news-item .prew-news-date {
        top: -50px;
        right: -126px
    }

    .catalog-list .product {
        width: 275px
    }

    .parallax-window {
        min-height: 455px;
        position: relative
    }

    footer .bg-address .dl-horizontal dd {
        margin-left: 30%
    }

    footer .bg-address .dl-horizontal dt {
        width: 25%;
        padding-bottom: 25px
    }

    footer .bg-contact-form {
        padding-top: 35px;
        padding-left: 25px
    }

    footer .bg-contact-form div {
        padding-left: 0!important
    }

    footer .bg-social .dl-horizontal dt {
        width: 150px
    }

    footer .bg-social .dl-horizontal dd {
        margin-left: 160px
    }
}

@media (min-width: 1440px ) and (max-width: 1679px) {
    .prew-news {
        padding-bottom:130px
    }

    .info-prev img {
        width: 100%;
        height: 230px;
        margin: 0
    }

    .info-prev iframe {
        height: 230px
    }

    .right-sidebar .block-link li a {
        font-size: 20px
    }

    h2 {
        font-size: 24px!important
    }

    .topNavItem {
        height: 70px
    }

    .slider-home-page .slider {
        height: 500px
    }

    .red {
        font-size: 38px!important
    }

    .fs-pager-wrapper {
        height: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
        bottom: -98px!important
    }

    .fs-pager-wrapper a {
        font-size: 16px;
        top: 31px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px
    }

    .fs-pager-wrapper a[rel="2"]:after {
        padding-right: 20px
    }

    .catalog-list .product {
        width: 275px
    }

    .right-sidebar {
        width: 20%;
        padding-left: 0
    }

    .parallax-window {
        min-height: 550px
    }

    .bg-shema-work a.application-link {
        font-size: 10px;
        padding: 8px 10px
    }

    .prew-news .prew-news-item .prew-news-date {
        top: -30px
    }

    .fs-pager-wrapper a[rel="2"]:after {
        padding-right: 20px
    }

    .prew-news .prew-news-item p {
        font-size: 14px
    }

    .bg-title-block:after {
        padding: 0 120px
    }

    .bg-address .bg-title-block:before {
        padding: 0 120px
    }

    footer .bg-address .dl-horizontal dd {
        margin-left: 25%
    }

    footer .bg-address .dl-horizontal dt {
        width: 20%
    }

    footer .bg-address:before {
        border-right: 50px solid transparent
    }

    footer .bg-address:after {
        border-left: 50px solid transparent
    }

    footer .bg-contact-form {
        padding-top: 35px
    }
}

@media (min-width: 1280px ) and (max-width: 1439px) {
    .prew-news {
        padding-bottom:130px
    }

    .info-prev img {
        width: 100%;
        height: 230px;
        margin: 0
    }

    .info-prev iframe {
        height: 230px
    }

    .right-sidebar .block-link li a {
        font-size: 16px
    }

    .right-sidebar .block-link li span {
        font-size: 3em
    }

    h2 {
        font-size: 24px!important
    }

    .slider-home-page .slider {
        height: 535px
    }

    .fs-pager-wrapper a:before {
        float: none!important;
        margin: 0 auto
    }

    .fs-pager-wrapper {
        height: auto;
        padding-top: 0;
        padding-bottom: 30px;
        bottom: -130px!important
    }

    .fs-pager-wrapper a {
        text-align: center;
        font-size: 16px;
        top: 31px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px
    }

    .catalog-list .product {
        width: 275px
    }

    .parallax-window {
        min-height: 550px
    }

    .bg-shema-work a.application-link {
        font-size: 10px
    }

    .bg-advantages .media {
        padding-left: 5%;
        padding-right: 5%
    }

    .right-sidebar {
        width: 22%
    }

    footer .bg-links {
        padding-top: 35px;
        padding-left: 50px
    }

    footer .bg-address {
        padding: 35px 40px 0
    }

    footer .bg-address .dl-horizontal dd {
        margin-left: 25%
    }

    footer .bg-address .dl-horizontal dt {
        width: 20%
    }

    footer .bg-address:before {
        border-right: 50px solid transparent
    }

    footer .bg-address:after {
        border-left: 50px solid transparent
    }

    footer .bg-contact-form {
        padding-top: 35px
    }
}

@media (min-width: 992px ) and (max-width: 1279px) {
    .grey-bloks div.grey-block-1 {
        font-size:14px
    }

    .grey-bloks div>p {
        font-size: 14px
    }

    .earth {
        background: none
    }

    .earth ul {
        padding-left: 0
    }

    .history-map {
        height: 500px
    }

    .prew-news {
        padding-bottom: 130px
    }

    .info-prev iframe {
        height: 200px
    }

    .info-prev img {
        width: 100%;
        height: 200px;
        margin: 0
    }

    .catalog-list .product-prev {
        width: 200px;
        height: 200px
    }

    .top-info {
        width: 200px;
        height: 200px
    }

    .info-prev {
        width: 200px;
        height: 200px
    }

    #topNav {
        right: 0
    }

    #topNavItems {
        margin-right: 0
    }

    .navmenu,.navbar-offcanvas {
        width: 85px!important
    }

    body {
        padding: 0 0 0 85px !important
    }

    .right-sidebar {
        width: 25%;
        right: 0
    }

    .right-sidebar .block-link li a {
        font-size: 1em
    }

    .right-sidebar .block-link li span {
        font-size: 2em
    }

    h2 {
        font-size: 20px!important
    }

    /* .bg-logo-slider {
        width: 60%
    } */

    .topNavItem {
        height: 70px
    }

    .slider-home-page .slider {
        height: 490px
    }

    .fs-pager-wrapper a:before {
        float: none!important;
        margin: 0 auto
    }

    .fs-pager-wrapper {
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        bottom: -150px!important
    }

    .fs-pager-wrapper a {
        text-align: center;
        font-size: 16px;
        top: 31px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px
    }

    .parallax-window {
        min-height: 550px
    }

    .block-akcia .banner {
        background: url(../images/akcia-bkg.png) 0 center no-repeat;
        padding: 35px 20px 20px
    }

    .prew-news .prew-news-item .prew-news-date {
        right: -15%;
        top: -30px
    }

    .bg-advantages .circle {
        float: none!important;
        margin: 0 auto;
        margin-bottom: 20px;
        display: block
    }

    .prew-news .catalog-btn {
        padding: 10px
    }

    .bg-shema-work a.application-link {
        font-size: 10px;
        padding: 5px;
        position: absolute;
        width: 110px;
        left: 1%
    }

    .prew-news {
        background: url(../images/prew-news-bkg.png) -50px 0 no-repeat
    }

    .prew-news .prew-news-item {
        padding-left: 20px;
        padding-right: 20px
    }

    .catalog-list .caption h3 {
        font-size: 16px
    }

    .bg-shema-work h3 {
        font-size: 14px
    }

    .bg-shema-work p {
        font-size: 12px;
        padding-left: 0;
        line-height: 15px
    }

    .bg-advantages h2 {
        margin-top: 25px;
        margin-bottom: 25px
    }

    .bg-advantages .media {
        padding-left: 0;
        padding-right: 0
    }

    .bg-advantages .media-body h3 {
        font-size: 20px;
        line-height: 20px
    }

    .bg-title-block:after {
        padding: 0 80px
    }

    .bg-title-block:before {
        padding: 0 80px
    }

    footer h2 {
        font-size: 20px
    }

    footer .logo-footer-block ul li {
        padding: 5px
    }

    footer .bg-links {
        padding-left: 10px
    }

    footer .bg-address {
        padding: 35px 10px 0
    }

    footer .bg-contact-form #footer-contact-btn {
        width: 100%;
        margin-left: 0
    }

    footer .bg-address h3 {
        font-size: 12px
    }

    footer .bg-address:before {
        border-right: 50px solid transparent
    }

    footer .bg-address:after {
        border-left: 50px solid transparent
    }

    footer .bg-address .dl-horizontal dd {
        margin-left: 25%;
        font-size: 14px
    }

    footer .bg-address address {
        font-size: 10px
    }

    footer .bg-address .dl-horizontal dt {
        width: 22%;
        font-size: 14px
    }

    footer .bg-contact-form {
        padding-top: 35px
    }

    footer .bg-social .dl-horizontal dd {
        margin-left: 60%
    }

    footer .bg-social .dl-horizontal dt {
        width: 60%;
        text-align: right
    }

    footer .bg-contact-form .col-sm-5 {
        padding-right: 0
    }

    footer .bg-contact-form input {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px
    }

    footer .bg-contact-form textarea {
        font-size: 12px
    }

    footer .bg-contact-form #footer-contact-btn {
        font-size: .8em
    }
}

@media (min-width: 992px) {
    .block-form-contact {
        margin-left:15px;
        margin-right: -15px
    }

    .block-contact-links {
        padding-left: 50px
    }

    .col-bg-footer {
        width: 20%;
        padding-left: 2%;
        padding-right: 2%%;
        float: left
    }

    #order1 .modal-dialog {
        width: 450px
    }

    body {
        padding: 0 0 0 80px
    }

    .navmenu {
        padding-top: 0
    }

    .navbar {
        display: none!important
    }
}

@media (min-width: 768px ) and (max-width: 991px) {
    .item-products-block .cart-buttton {
        position:relative;
        opacity: 1;
        width: 70%;
        left: 15%
    }

    .grey-bloks div {
        height: auto
    }

    .red-blocks div>div {
        height: auto
    }

    .earth {
        background: none
    }

    .earth ul {
        padding-left: 0
    }

    .history-map {
        height: 500px
    }

    .info-prev iframe {
        height: 200px
    }

    .info-prev img {
        width: 100%;
        height: 200px;
        margin: 0
    }

    #topNav {
        right: 0
    }

    .slider-wrapper {
        margin-top: 0
    }

    .navmenu-nav {
        padding-top: 60px
    }

    .container-fluid {
        padding-left: 15px
    }

    h2 {
        font-size: 20px!important
    }

    /.bg-logo-slider {
        width: 125px
    }

    .red {
        font-size: 20px!important
    }

    .topNavItem {
        height: 70px
    }

    .slider-home-page .slider {
        height: 410px
    }

    .fs-pager-wrapper a:before {
        float: none!important;
        margin: 0 auto
    }

    .fs-pager-wrapper {
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        bottom: -120px!important
    }

    .fs-pager-wrapper a {
        text-align: center;
        font-size: 16px;
        top: 31px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px
    }

    .bg-shema-work h2.bg-title-block {
        margin-bottom: 35px
    }

    .bg-shema-work p {
        text-align: center
    }

    .bg-advantages {
        padding-bottom: 50px
    }

    #topNav {
        position: fixed
    }

    #topNavItems {
        background: #f8f8f8;
        border-bottom: 1px solid #e7e7e7
    }

    .claim .bg-logo-slider {
        width: 80%
    }

    .bg-title-block:after {
        padding: 0 50px
    }

    .bg-title-block:before {
        padding: 0 50px
    }

    .dl-horizontal dd {
        margin-left: 54%
    }

    .dl-horizontal dt {
        width: 50%
    }

    .prew-news .prew-news-item .prew-news-date {
        right: -45%
    }

    .news-img-prev img {
        height: auto
    }

    footer .logo-footer-block .logo-footer {
        margin: 0 auto;
        margin-bottom: 20px
    }

    footer .logo-footer {
        left: 0;
        top: 0;
        padding-top: 20px;
        padding-bottom: 0
    }

    footer h2 {
        padding-bottom: 0;
        text-align: center
    }

    footer .bg-social {
        height: auto;
        padding-top: 0;
        background-position: center
    }

    footer .bg-address-sm .dl-horizontal dd {
        margin-left: 35%;
        position: relative;
        top: 0
    }

    footer .bg-address-sm .dl-horizontal dt {
        width: 30%;
        text-align: right
    }
}

@media (max-width: 767px) {
    .item-products-block .cart-buttton {
        position:relative;
        opacity: 1;
        width: 80%;
        left: 10%;
        %}

    .benefits-block {
        height: auto
    }

    #topOrder a {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden
    }

    .topNavContent {
        padding-left: 30px
    }
}

@media (min-width: 600px ) and (max-width: 767px) {
    .item-products-block .cart-buttton {
        position:relative;
        opacity: 1;
        width: 70%;
        left: 15%
    }

    .catalog-btn {
        width: 25%
    }

    .obrazec-form-title {
        text-align: right
    }

    .grey-bloks div {
        height: auto
    }

    .red-blocks div>div {
        height: auto
    }

    .earth {
        background: none
    }

    .earth ul {
        padding-left: 0
    }

    .history-map {
        height: 500px
    }

    .info-prev img {
        width: 100%;
        display: block;
        height: auto
    }

    #topNav {
        right: 0
    }

    .slider-wrapper {
        margin-top: 0
    }

    .navmenu-nav {
        padding-top: 60px
    }

    .container-fluid {
        padding-left: 15px
    }

    a.bg-logo-slider-a {
        top: 16px
    }

    .bg-logo-slider {
        width: 50%
    }

    .red {
        font-size: 16px!important
    }

    .slider-home-page .slider {
        height: 342px
    }

    .fs-pager-wrapper a:before {
        float: none!important;
        margin: 0 auto
    }

    .fs-pager-wrapper {
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        bottom: -120px!important
    }

    .fs-pager-wrapper a {
        text-align: center;
        font-size: 10px;
        top: 31px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px
    }

    .bg-shema-work p {
        text-align: center
    }

    .bg-advantages {
        padding-bottom: 50px
    }

    #topNav {
        position: fixed
    }

    #topNavItems {
        background: #f8f8f8;
        border-bottom: 1px solid #e7e7e7
    }

    .claim .bg-logo-slider {
        width: 50%!important
    }

    .bg-title-block:after {
        padding: 0 40px
    }

    .bg-title-block:before {
        padding: 0 40px
    }

    .dl-horizontal dd {
        margin-left: 54%
    }

    .dl-horizontal dt {
        width: 50%;
        text-align: right
    }

    .prew-news .prew-news-item .prew-news-date {
        right: -43%
    }

    footer .logo-footer-block .logo-footer {
        margin: 0 auto;
        margin-bottom: 20px
    }

    footer .logo-footer {
        left: 0;
        top: 0;
        padding-top: 20px;
        padding-bottom: 0
    }

    footer h2 {
        padding-bottom: 0;
        text-align: center
    }

    footer .bg-social {
        height: auto;
        padding-top: 0;
        background-position: center
    }

    footer .bg-address-sm .dl-horizontal dd {
        margin-left: 35%;
        position: relative;
        top: -25px
    }

    footer .bg-address-sm .dl-horizontal dt {
        width: 30%;
        text-align: right
    }
}

@media (min-width: 500px ) and (max-width: 599px) {
    .item-products-block .cart-buttton {
        position:relative;
        opacity: 1;
        width: 70%;
        left: 15%
    }

    .catalog-btn {
        width: 35%
    }

    .block-obrazec {
        background: none
    }

    .grey-bloks div {
        height: auto
    }

    .red-blocks div>div {
        height: auto
    }

    .earth {
        background: none
    }

    .earth ul {
        padding-left: 0
    }

    .history-map {
        height: 450px
    }

    .info-prev img {
        width: 100%;
        display: block;
        height: auto
    }

    #topNavItems {
        background: #f8f8f8;
        border-bottom: 1px solid #e7e7e7
    }

    #topNav {
        right: 0
    }

    .topNavItem {
        width: 25%
    }

    .slider-wrapper {
        margin-top: 0
    }

    .navmenu-nav {
        padding-top: 60px
    }

    .container-fluid {
        padding-left: 15px
    }

    a.bg-logo-slider-a {
        top: 16px
    }

    .bg-logo-slider {
        width: 50%
    }

    .red {
        font-size: 14px!important
    }

    .slider-home-page .slider {
        height: 292px
    }

    .fs-pager-wrapper a:before {
        float: none!important;
        margin: 0 auto
    }

    .fs-pager-wrapper {
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        bottom: -120px!important
    }

    .fs-pager-wrapper a {
        text-align: center;
        font-size: 10px;
        top: 31px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px
    }

    .bg-shema-work p {
        text-align: center
    }

    .bg-advantages {
        padding-bottom: 50px
    }

    #topNav {
        position: fixed
    }

    #topNavItems {
        background: #f8f8f8;
        border-bottom: 1px solid #e7e7e7
    }

    .claim .bg-logo-slider {
        width: 50%!important
    }

    .bg-title-block:after {
        padding: 0 30px
    }

    .bg-title-block:before {
        padding: 0 30px
    }

    .dl-horizontal dd {
        margin-left: 54%
    }

    .dl-horizontal dt {
        width: 50%;
        text-align: right
    }

    .prew-news .prew-news-item .prew-news-date {
        right: -43%
    }

    footer .logo-footer-block .logo-footer {
        margin: 0 auto;
        margin-bottom: 20px
    }

    footer .logo-footer {
        left: 0;
        top: 0;
        padding-top: 20px;
        padding-bottom: 0
    }

    footer h2 {
        padding-bottom: 0;
        text-align: center;
        font-size: 24px!important
    }

    footer .bg-social {
        height: auto;
        padding-top: 0;
        background-position: center
    }

    footer .bg-address-sm .dl-horizontal dd {
        margin-left: 35%;
        position: relative;
        top: -25px
    }

    footer .bg-address-sm .dl-horizontal dt {
        width: 30%;
        text-align: right
    }
}

@media (max-width: 499px) {
    .bg-title-block-h4{
        text-align: center;
    }
    .pull-left-serv{
        float: none; 
        margin: 0 auto;
        margin-bottom: 10px;
    }
	.item-category-block .read_more_a {
	    text-align: center;
	    float: none !important;
	    margin-bottom: 25px;
	}
	.item-products-block .cart-buttton {
	    width: 80%;
	    left: 10%;
	}
    .item-products-block .cart-buttton {
        position:relative;
        opacity: 1
    }

    .heder-form-obrazec {
        padding-bottom: 20px
    }

    .obrazec-form-title {
        padding-left: 0;
        text-align: center;
        padding-bottom: 20px
    }

    .bg-title-block {
        background: none
    }

    .bg-title-block-h1 {
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 1.8em;
    }

    .bg-title-block-h1 span {
        padding-left: 0;
        padding-right: 0;
        line-height: normal;
    }

    .link-obrazcy-title {
        font-size: 100%
    }

    .catalog-btn {
        width: 50%
    }

    .block-obrazec {
        background: none
    }

    .grey-bloks div {
        height: auto
    }

    .red-blocks div>div {
        height: auto
    }

    .earth {
        background: none
    }

    .earth ul {
        padding-left: 0
    }

    .history-map {
        background: none;
        height: auto
    }

    .block-link-page li {
        width: 100%
    }

    .info-prev img {
        width: 100%;
        display: block;
        height: auto
    }

    .topNavItem {
        width: 25%
    }

    #topNavItems {
        background: #f8f8f8;
        border-bottom: 1px solid #e7e7e7
    }

    .slider-wrapper {
        margin-top: 0
    }

    .navmenu-nav {
        padding-top: 60px
    }

    .container-fluid {
        padding-left: 15px
    }

    a.bg-logo-slider-a {
        top: 16px
    }

    .bg-logo-slider {
        width: 35%
    }

    .red {
        font-size: 12px!important
    }

    .slider-home-page .slider {
        height: 186px
    }

    .bg-shema-work p {
        text-align: center
    }

    .bg-title-block:before {
        display: none
    }

    .bg-title-block:after {
        display: none
    }

    .bg-advantages {
        padding-bottom: 50px
    }

    #topNav {
        position: fixed
    }

    #topNavItems span {
        text-indent: -9999px
    }

    .claim .bg-logo-slider {
        width: 40%!important
    }

    .dl-horizontal dd {
        margin-left: 45%;
        position: relative;
        top: -21px
    }

    .dl-horizontal dt {
        width: 35%;
        text-align: right
    }

    .catalog-btn {
        padding: 10px 20px
    }

    footer .logo-footer-block .logo-footer {
        margin: 0 auto;
        margin-bottom: 20px
    }

    footer .logo-footer {
        left: 0;
        top: 0;
        padding-top: 20px;
        padding-bottom: 0
    }

    footer h2 {
        padding-bottom: 0;
        text-align: center;
        font-size: 18px!important
    }

    footer .bg-social {
        height: auto;
        padding-top: 0;
        background-position: center
    }

    footer .bg-address-sm .dl-horizontal dd {
        margin-left: 35%;
        position: relative;
        top: -25px
    }

    footer .bg-address-sm .dl-horizontal dt {
        width: 30%;
        text-align: right
    }
}

@media (max-width: 991px) {
    .top-info {
        margin-bottom:70px
    }

    .red-blocks span {
        font-family: "KizoMedium";
        font-size: 40px
    }

    .prew-news {
        background: none
    }
}

@media (min-width: 768px) {
    .logo-footer-block {
        margin-bottom:20px
    }
}
