@font-face {
    font-family: 'OpenSansRegular';
    src: url(../fonts/OpenSans-Regular.ttf)
}

@font-face {
    font-family: 'OpenSansLight';
    src: url(../fonts/OpenSans-Light.ttf)
}

@font-face {
    font-family: 'OpenSansLight-italic';
    src: url(../fonts/OpenSans-LightItalic.ttf)
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url(../fonts/OpenSans-Semibold.ttf)
}

@font-face {
    font-family: 'KizoMedium';
    src: url(../fonts/Kizo-Medium.otf)
}

.page-error{
    padding: 20px;
}
.page-error a{
    margin-top: 20px;
    margin-bottom: 20px;
}
.error-message{
    font-family: 'Arial';
    font-size:3vw;
    color:#757575;
}
.error-text{
    font-family: 'Arial';
    font-size:2vw;
    color:#757575;
    margin-bottom: 50px;
}
.erorr-404{
    font-family: 'OpenSansLight';
    font-size:35vw;
    color:#757575;
}

.pull-left-serv{
    float: left; 
    margin-right:10px;
}

.right-sidbar-widjet-sm .panel-title > a {
    font-family: 'OpenSansRegular'
}

.right-sidbar-widjet-sm .panel-body li {
    text-align: center
}

.right-sidbar-widjet-sm .panel-body li > a {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    line-height: 24px
}

.product-price-aczent {
    font-family: 'OpenSansLight';
    font-size: 14px;
    font-style: italic;
    margin-bottom: 35px;
    color: #646464
}

#topContentLanguage span.icon-country-bg {
    position: absolute;
    top: 5px;
    left: 150px
}

.bg-advantages-icon.icon-12 {
    font-size: 34px
}

.category-list-sm {
    font-family: 'OpenSansRegular';
    margin-bottom: 20px;
    text-align: center
}

.category-list-sm ul > li {
    line-height: 25px
}

.benefits-block .media > .pull-left {
    padding-right: 30px
}

.benefits-block {
    height: 575px;
    padding: 10px;
    border: 1px solid #d62a20
}

.benefits-page h4 {
    font-family: 'OpenSansSemibold';
    font-size: 16px;
    line-height: 30px;
    padding: 15px 5px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #d62a20;
    background-color: #d62a20
}

.benefits-block .icon100 > small {
    font-size: 18px;
    position: relative;
    top: -10px;
    left: -5px
}

.service .media-object-div {
    width: 150px;
    height: 150px
}

.bags-group-left-menu .nav > li > a > span.icon-rm-ic-1 {
    font-size: 17px
}

.container-fluid {
    padding-right: 35px;
    padding-left: 35px
}

.menu,.menu ul,.menu li,.headerBoxCE .csc-sitemap ul,.headerBoxCE .csc-sitemap ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    background: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0
}

.navmenu-nav {
    padding-top: 70px
}

.navmenu-default .navmenu-nav > .active > a,.navmenu-default .navmenu-nav > .active > a:hover {
    background-color: #eee
}

.row {
    margin-right: 0!important;
    margin-left: 0!important
}

html {
    min-height: 100%
}

h2 {
    font-size: 30px!important
}

ul.pagination {
    display: inline-block;
    margin: 22px 0;
    padding-left: 0;
    border-radius: 4px
}

ul.pagination > li a {
    font-family: 'OpenSansLight';
    font-size: 1.6em;
    font-weight: 600;
    color: #323232;
    border: none
}

ul.pagination li.bg-prev span,ul.pagination li.bg-next span {
    font-size: 25px;
    border: none
}

.pagination > .bg-active > a,.pagination > .bg-active > span,.pagination > .bg-active > a:hover,.pagination > .bg-active > span:hover,.pagination > .bg-active > a:focus,.pagination > .bg-active > span:focus {
    z-index: 3;
    cursor: default;
    text-decoration: underline;
    color: #bebebe;
    background: none
}

.pagination > li:last-child > span {
    border: 0
}

.pagination > li > a:hover,.pagination > li > span:hover,.pagination > li > a:focus,.pagination > li > span:focus {
    z-index: 2;
    color: #d77c7c;
    border-color: #fff;
    background-color: #fff!important
}

.pagination > li > a,.pagination > li > span {
    border: none
}

a:hover {
    text-decoration: none!important
}

.navbar-fixed-top {
    z-index: 8000!important
}

.navmenu-default,.navbar-default .navbar-offcanvas {
    z-index: 9999!important;
    border-color: #e7e7e7!important;
    background-color: #eee!important
}

a.bg-logo-slider-a {
    position: absolute;
    z-index: 7900;
    top: 50px;
    left: 60px
}

a.bg-logo-slider-a-xs img {
    width: 90%
}

.navbar {
    display: block;
    text-align: center
}

.navbar-brand {
    display: inline-block;
    float: none
}

.navbar-toggle {
    position: absolute!important;
    float: left!important;
    margin-left: 15px
}

.container {
    max-width: 100%
}

#topNav {
    position: absolute;
    z-index: 8000;
    top: 0;
    right: 0;
    min-height: 47px;
    margin-left: 65px
}

#topNavContentContainer {
    position: relative;
    z-index: 1;
    display: none;
    overflow: hidden;
    height: 200px;
    border-bottom: 1px solid #e4e4e4;
    background: #fff;
    background: #fff;
    -webkit-box-shadow: 0 -30px 40px #999;
    -moz-box-shadow: 0 -30px 40px #999;
    box-shadow: 0 -30px 40px #999
}

#topOrder .bags-group-icons {
    background: url(../images/Bg_icons_left_menu.png) no-repeat
}

#topContentContact {
    padding-left: 20px;
    color: #464646;
    background: url(../images/ic-top-menu-contact.png) 308px 10px no-repeat
}

#topContentContact .dl-horizontal dt {
    width: 20px;
    color: #d62c2b
}

#topContentContact .dl-horizontal dd {
    margin-bottom: 10px;
    margin-left: 40px
}

#topContentService {
    background: url(../images/ic-top-menu-delivery.png) 308px 10px no-repeat
}

#topContentLanguage {
    background: url(../images/ic-top-menu-lang.png) 270px -40px no-repeat
}

#topNav .menu li.active a {
    color: #d40b2b
}

#topContentSearch {
    background: url(../images/ic-top-menu-search.png) 320px 10px no-repeat
}

.topNavContent {
    display: none;
    display: none;
    height: 110px;
    height: 160px;
    padding: 20px 0 0;
    padding: 20px 0 0;
    padding-left: 130px;
    padding-left: 85px
}

#topNav .menu {
    overflow: hidden
}

#topNav .menu li a {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    line-height: 25px;
    display: block;
    padding: 0;
    padding-left: 30px;
    color: #777;
    color: #323232;
    background: url(../images/right-arrow.svg) 0 center no-repeat;
    background-size: 16px;
}

#topNavItems {
    position: relative;
    overflow: hidden;
    color: #d40b2b;
    background: #fff
}

#topNavItems span.bg-icon-top {
    font-size: 20px;
    margin-right: 10px
}

#topOrder {
    line-height: 12px;
    padding-top: 20px
}

#topService span.bg-icon-top {
    font-size: 30px;
    position: relative;
    top: 5px
}

#topOrder a {
    position: absolute;
    top: 20px;
    width: 20px
}

#topOrder#topOrder:hover a {
    color: #fff
}

#topOrder:hover {
    background-position: -505px -144px
}

.topNavItem,.topNavItem a {
    color: #999
}

#topNav .close {
    display: none;
    width: 30px;
    height: 30px;
    margin: 8px 0;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    color: #9e9e9e!important;
    background: none;
    background: #d8d8d8 url(../images/icon_tobNavClose.png) center 12px no-repeat
}

#topNav.topNavActive .close {
    position: relative;
    top: 10px;
    left: 0;
    display: block;
    opacity: .6
}

#topOrder span.icon-shopping-cart {
    font-size: 23px;
    position: relative;
    top: -3px
}

.topNavItem {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    line-height: 69px;
    float: left;
    width: 125px;
    height: 69px;
    margin: 0;
    padding: 0 0 0 15px;
    cursor: pointer
}

.topNavItem:hover,.activeTopNavItem {
    color: #fff;
    background-color: #d40b2b
}

.navmenu-default .navmenu-nav > .active > a > span {
    color: #c8302f
}

#topSearchForm {
    width: 230px;
    padding: 0
}

#sucheTextHeader {
    font-family: 'OpenSansLight-italic';
    width: 200px;
    margin: 0 0 8px;
    text-align: center
}

#topContentSearch input[type='submit'] {
    display: block;
    border: 1px solid #c8302f;
    border-radius: 30px;
    background: #fff
}

#searchSubmitHeader {
    font-family: 'OpenSansRegular';
    font-size: 18px;
    line-height: 30px;
    line-height: 1.2;
    width: 200px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    color: #c8302f
}

#topContentSearch input[type='submit']:hover {
    background: #c8302f
}

#searchSubmitHeader:hover {
    color: #fff
}

.heder-page {
    width: 100%
}

.heder-page .substrate {
    background: url(../images/heder-d-logo.png) no-repeat center center
}

div#background_logo {
    width: 100%;
    height: 142px;
    margin-top: 50px;
    background: url(../images/BG-heder-page.jpg) no-repeat
}

#background_logo img {
    padding-top: 15px;
    padding-bottom: 15px
}

.xs-heder-logo {
    margin-top: 70px;
    padding: 10px;
    text-align: center;
    background-color: #999
}

.bags-group-left-menu {
    text-align: center
}

.bags-group-left-menu ul.navmenu-nav li {
    margin-bottom: 10px
}

.bags-group-left-menu .nav > li > a {
    font-family: 'OpenSansRegular';
    font-size: 13px;
    margin-bottom: 50px;
    padding: none;
    padding: 0;
    color: #838383
}

.bags-group-left-menu .nav > li > a > span.icon-work-team {
    font-size: 32px;
    margin-bottom: 7px
}

.bags-group-left-menu .nav > li > a > span.icon-options {
    font-size: 20px
}

.bags-group-left-menu .nav > li > a > span.icon-handshake {
    font-size: 30px;
    margin-bottom: 7px
}

.bags-group-left-menu .nav > li > a > span.icon-envelope {
    font-size: 25px;
    margin-bottom: 8px
}

.bags-group-left-menu .nav > li > a > span {
    font-size: 24px;
    display: block;
    margin-bottom: 12px;
    color: #949494
}

.bags-group-left-menu .nav > li > a:hover > span,.bags-group-left-menu .nav > li > a:focus > span {
    color: #c8302f
}

@media (min-width: 1px) {
    .navbar-toggle {
        display:block!important
    }
}

.slider {
    position: relative;
    width: 100%;
    height: 410px;
    margin: 0 auto
}

.slider p {
    font-size: 24px;
    line-height: 100%;
    position: absolute;
    z-index: 8000;
    top: -200px;
    padding: 1% 3%;
    white-space: pre-wrap;
    color: #fff
}

.claim {
    line-height: 100%
}

.bg-logo-slider {
    width: 180px
}

.claim .bg-logo-slider {
    width: 100%
}

.small {
    padding-right: 0;
    padding-left: 0;
    text-align: center
}

.light-green {
    background: #95c542
}

.grey span {
    position: relative!important;
    top: 3px!important
}

.orange {
    background: #ef7d00
}

.turky {
    background: #348e8a
}

.white {
    color: #333;
    background: #fff
}

#bar {
    width: 0;
    max-width: 100%;
    height: 2px;
    background-color: red
}

#progressBar {
    position: absolute;
    z-index: 7900;
    right: 0;
    bottom: -1px;
    left: 0;
    width: 100%;
    background-color: #fff
}

.fs-pager-wrapper a {
    font-family: 'OpenSansRegular'
}

.bg-breadcrumbs {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0;
    list-style: none;
    border-radius: 4px
}

.bg-breadcrumbs > li {
    font-family: 'OpenSansRegular';
    font-size: 15px;
    line-height: 1.2;
    display: inline-block;
    text-align: center;
    color: #d92827;
}

.bg-breadcrumbs > li + li:before {
    padding: 0 5px;
    content: '/\00a0';
    color: #ccc
}

.bg-breadcrumbs > li > a {
    font-family: 'OpenSansRegular';
    line-height: 1.2;
    text-align: center;
    color: #d92827
}

.bg-breadcrumbs li.active {
    color: #464646
}

.bg-info-block-h2 {
    font-family: 'OpenSansLight';
    font-size: 30px;
    margin-top: 65px;
    padding-bottom: 40px;
    padding-left: 55px;
    text-transform: uppercase;
    color: #464646
}

.bg-info-block-h2 span {
    font-family: 'OpenSansRegular'
}

.bg-info-block-h3 {
    font-family: 'OpenSansSemibold';
    font-size: 14px;
    line-height: 35px;
    padding-left: 10px;
    text-transform: uppercase;
    color: #fff
}

.bg-info-text {
    font-family: 'OpenSansRegular';
    padding-top: 20px;
    color: #323232
}

.bg-info-text h3 {
    font-size: 16px;
    padding-bottom: 20px;
    text-transform: uppercase
}

.bg-info-text p {
    font-size: 13px;
    line-height: 1.5;
    color: #323232
}

.img-bg-info {
    width: 100%
}

.bg-info-block a.info-link {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    margin-top: 20px;
    color: #d62a21
}

.bg-info-block .info-prev div {
    height: 200px
}

.bg-title-block {
    width: 100%;
    height: auto;
    padding: 5px;
    background: url(./images/line-title.png) center center no-repeat
}

.bg-title-block-h2 {
    font-family: 'OpenSansLight';
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #464646
}

.catalog-list .product {
    margin: 0 auto;
    margin-bottom: 60px
}

.product .caption {
    height: 35px
}

.catalog-list .product-prev {
    display: table;
    width: 275px;
    width: 100%;
    height: 275px;
    margin-bottom: 20px;
    background: #eaeaea
}

.catalog-list .product:hover .product-prev {
    background: #c8302f
}

.catalog-list .product-prev div {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

.category-page .product-prev div img {
    width: 100%;
    height: 100%
}

.catalog-list .caption h3 {
    font-family: 'OpenSansRegular';
    font-size: 18px;
    float: left;
    width: 60%;
    color: #464646
}

.catalog-list .product:hover .caption h3 {
    color: #c8302f
}

.catalog-list .catalog-link {
    font-family: 'OpenSansRegular';
    font-size: 18px;
    display: table;
    width: 100%;
    color: #464646
}

.catalog-list .catalog-link:hover {
    color: #c8302f
}

span.catalog-title-sp {
    display: table-cell;
    vertical-align: middle
}

.catalog-list .catalog-link span.icon-arrow-right2 {
    display: table-cell;
    padding: 10px;
    border: 1px solid #464646;
    border-radius: 20px
}

.catalog-list .catalog-link:hover span.icon-arrow-right2 {
    border: 1px solid #c8302f
}

.catalog-btn {
    font-family: 'OpenSansRegular';
    font-size: 18px;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #c8302f;
    border: 1px solid #c8302f;
    border-radius: 40px
}

.catalog-btn:hover {
    text-decoration: none;
    color: #fff;
    background: #c8302f
}

.parallax-window {
    position: relative;
    min-height: 455px
}

.bg-advantages {
    margin-bottom: 40px
}

.bg-advantages .media {
    margin-bottom: 40px
}

.bg-advantages h2 {
    font-family: 'OpenSansLight';
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #464646
}

.bg-advantages .media-body p {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    line-height: 20px;
    padding-left: 15px;
    color: #323232
}

.bg-advantages .media-body {
    width: 90%
}

.bg-advantages-icon {
    font-size: 40px;
    color: #c8302f
}

.icon100 {
    font-family: 'KizoMedium';
    font-size: 40px;
    color: #c8302f
}

.content-top {
    margin-bottom: 65px
}

.bg-shema-work {
    margin-bottom: 20px
}

.bg-shema-work h2.bg-title-block {
    margin-bottom: 0
}

.bg-shema-work .bg-shema-work-item {
    margin-bottom: 20px;
    text-align: center
}

.bg-shema-work h3 {
    font-family: 'OpenSansRegular';
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #323232
}

.bg-shema-work .icon-shema-work {
    font-family: 'OpenSansRegular';
    font-size: 20px;
    width: 55px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #323232
}

.bg-shema-work .icon-shema-work img {
    height: 60px;
    padding-bottom: 20px
}

.icon-shema {
    font-size: 45px;
    display: block;
    padding-bottom: 15px;
    color: #c8302f
}

.bg-shema-work .circle {
    font-family: 'OpenSansRegular';
    font-size: 18px;
    position: relative;
    z-index: 20;
    left: 10px;
    display: table-cell;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #c8302f;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
    -khtml-border-radius: 20px
}

.bg-shema-work span {
    text-transform: none
}

.bg-shema-work a.application-link {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 15px;
    -webkit-transform: scale(.94,1);
    -moz-transform: scale(.94,1);
    -ms-transform: scale(.94,1);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 20px;
    background: #c8302f
}

.bg-shema-work a.application-link:hover {
    background: #f42120
}

.bg-shema-work p {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    text-align: left;
    color: #323232
}

.bg-shema-work hr.red-line {
    position: relative;
    z-index: 19;
    top: 78px;
    margin: 0 8%;
    border: 0;
    border-top: 1px solid #c8302f
}

.icon-check-list {
    font-size: 50px;
    position: relative;
    bottom: 3px
}

.icon-truck2 {
    font-size: 50px;
    padding-bottom: 10px
}

.icon-save-online {
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 15px
}

.phone-text {
    font-size: 18px
}

.right-sidebar {
    position: absolute!important;
    z-index: 888;
    right: 40px;
    padding-left: 3%
}

.block-link {
    font-family: 'OpenSansRegular';
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 40px
}

li.btn-yelow {
    background-color: #f90
}

li.btn-red {
    background-color: #c33
}

.block-link-xs-sm {
    font-family: 'OpenSansRegular';
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px
}

.block-link p,.block-link-xs-sm p {
    line-height: 25px;
    margin-bottom: 10px
}

.block-link li,.block-link-xs-sm li {
    display: table;
    width: 100%;
    margin-bottom: 40px
}

.block-link li a,.block-link-xs-sm li a {
    font-family: 'OpenSansRegular';
    font-size: 28px;
    display: table-cell;
    padding-left: 5%;
    text-align: left;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff
}

.block-link li span,.block-link-xs-sm li span {
    font-size: 3em;
    display: table-cell;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    vertical-align: middle;
    color: #fff
}

.block-link li span.icon-btn-link-2,.block-link-xs-sm li span.icon-btn-link-2 {
    background-color: #f90
}

.block-link li span.icon-btn-link-1,.block-link-xs-sm li span.icon-btn-link-1 {
    background-color: #c33
}

.link-catalog-pdf,.block-link-xs-sm .link-catalog-pdf {
    background-color: #f90
}

.link-samples,.block-link-xs-sm .link-samples {
    background-color: #c33
}

.block-akcia,.block-akcia-sm {
    margin-bottom: 45px
}

.block-akcia h2,.block-akcia-sm h2 {
    font-family: 'OpenSansRegular';
    margin-top: 65px;
    text-align: center;
    text-transform: uppercase;
    color: #d32f2e
}

.block-akcia-sm img {
    margin: 0 auto;
    margin-top: 20px
}

.block-akcia .banner {
    padding: 10%;
    background: url(../images/akcia-bkg.png) right center no-repeat
}

.prew-news {
    margin-top: 45px;
    background: url(../images/prew-news-bkg.png) left top no-repeat
}

.prew-news h2 {
    font-family: 'OpenSansLight';
    position: relative;
    top: -10px;
    margin-bottom: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #464646
}

.prew-news .prew-news-item {
    margin-bottom: 75px;
    padding-right: 10%;
    padding-left: 10%
}

.prew-news .prew-news-item .prew-img img {
    display: block;
    width: 100%;
    width: 100%;
    height: auto
}

.prew-news .prew-news-item .prew-news-date {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    position: relative;
    top: -50px;
    right: -39%;
    padding: 5px 28px;
    color: #fff;
    background: url(../images/ic-news.png) 0 center no-repeat
}

.prew-news .prew-news-item h3 {
    font-family: 'OpenSansRegular';
    font-size: 18px;
    margin-bottom: 20px;
    color: #c8302f
}

.prew-news .prew-news-item p {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    line-height: 20px;
    color: #464646
}

.prew-news .prew-news-item p.link-news {
    font-size: 14px;
    padding-top: 20px;
    color: #c8302f
}

.prew-news .prew-news-item:hover p {
    color: #c8302f
}

.widget-subcategory-list {
    font-family: 'OpenSansLight';
    width: 100%;
    height: auto;
    background: url(../images/BG-Blog_right_pan.jpg) no-repeat right top;
    background-color: none!important
}

.widget-katalog-list {
    font-family: 'OpenSansLight';
    width: 100%;
    height: 100%;
    background-color: none!important;
    background-image: url(../images/BG-Blog_right_pan.jpg)!important
}

.widget-katalog-list h2,.widget-subcategory-list h2 {
    font-family: 'OpenSansRegular';
    font-size: 1.5em!important;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #323232
}

.widget-katalog-list ul,.widget-katalog-list ul li,ul.BG-Blog_right_pan.list-group li .widget-subcategory-list ul,.widget-subcategory-list ul li,ul.BG-Blog_right_pan.list-group li {
    border: none;
    background-color: transparent
}

.widget-katalog-list ul.list-group li.list-group-item a:hover,.widget-subcategory-list ul.list-group li.list-group-item a:hover {
    color: #696969
}

.widget-katalog-list ul li a,.widget-subcategory-list ul li a {
    font-family: 'OpenSansRegular';
    font-size: 1.2em;
    color: #d92827
}

.widget-katalog-list ul {
    background-color: transparent
}

.bg-widget-inform .font_size_phone .list-group-item {
    font-family: 'OpenSansRegular';
    font-size: 1.15em;
    line-height: 1.5;
    margin-top: 5px;
    padding-top: 0;
    padding-bottom: 0;
    color: #d92827;
    color: #d92827
}

.bg-widget-inform h3 {
    font-family: 'OpenSansRegular';
    font-size: 1.125em!important;
    font-weight: 600;
    line-height: 1.2em!important;
    line-height: 1.2;
    text-align: left;
    text-align: left;
    text-transform: uppercase;
    color: #323232
}

.bg-widget-inform p {
    font-family: 'OpenSansRegular';
    font-size: .875em;
    font-weight: 600;
    line-height: 1.2em;
    line-height: 1.2;
    text-align: left;
    text-align: left;
    color: #323232
}

div.mail_aside_right {
    text-align: center
}

div.mail_aside_right a {
    font-family: 'OpenSansRegular';
    font-size: 1.3em;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    color: #fff
}

div.mail_aside_right {
    position: relative;
    width: 231px;
    height: 34px;
    padding: 4px;
    background: url(../images/BG-Blog_mail.jpg) no-repeat center center
}

.bg-title-block-h1 {
    font-family: 'OpenSansLight';
    font-size: 2.2em;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #464646
}

div#background_logo {
    width: 100%;
    height: 142px;
    margin-top: 70px;
    background: url(../images/BG-heder-page.jpg) center center no-repeat
}

#background_logo img {
    padding-top: 15px;
    padding-bottom: 15px
}

.widget-katalog-list {
    height: auto;
    background: url(../images/BG-Blog_right_pan.jpg) no-repeat right top
}

.heder-page {
    padding-right: 0;
    padding-left: 0
}

.news_time {
    font-family: 'OpenSansRegular';
    font-size: 13px;
    line-height: 1.2;
    text-align: left;
    color: #646464
}

.thumbnail {
    border: none
}

.thumbnail > img {
    border: 2px solid #eaeaea;
    border-radius: 5px
}

.footer .bg-social dl a {
    color: #5d5959
}

.content-block {
    padding-right: 0;
    padding-left: 0
}

.right-sidbar {
    padding-left: 30px!important
}

.item-news-block {
    margin-bottom: 10px;
    margin-bottom: 35px;
    padding-bottom: 0;
    padding-left: 0;
    border: 1px solid #ccc;
    border-radius: 0
}

.news-img-prev {
    margin: 0;
    padding-right: 0!important;
    padding-left: 0!important;
    text-align: center;
    border: 0;
    outline: 0
}

.news-img-prev img {
    display: block;
    width: 100%;
    height: 235px;
    margin: 0;
    padding: 0!important;
    border: 0!important;
    outline: 0
}

.item-news-block h2,.item-category-block h2,.item-products-block h2 {
    font-family: 'OpenSansRegular';
    font-size: 1.3em!important;
    margin: 20px 0 10px;
    color: #d92827
}

.item-news-block .media-body {
    padding: 0 20px
}

.item-news-block .news-meta {
    margin-bottom: 15px
}

.item-news-block .news_content {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
    color: #323232
}

.item-news-block .read_more_a {
    margin-right: 20px;
    margin-bottom: 15px
}

.item-news-block .read_more_a a {
    font-family: 'OpenSansRegular';
    font-size: 1.2em;
    position: relative;
    padding: 10px 20px 10px 5px;
    text-decoration: none;
    color: #d92827;
    background: url(../images/BG-Blog_eta_right.png) center right no-repeat
}

.item-news-block .read_more_a a:hover {
    color: #d92827
}

.item-news-block .read_more_a a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 1px;
    content: '';
    -webkit-transition: all .3s ease-in-out 0;
    transition: all .3s ease-in-out 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    background-color: #d92827
}

.item-news-block .read_more_a a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.bg-widget-inform {
    padding-right: 23px;
    padding-left: 23px
}

.bg-phone-block {
    text-align: center;
    color: #fff;
    border: 1px solid #c33;
    background: #c33
}

.bg-phone-block .block-link-phone {
    font-size: 1.1em;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px
}

.bg-phone-block .phone-text {
    font-size: 18px;
    margin-bottom: 0;
    padding: 5px;
    color: #c00;
    border: 1px solid #c00;
    background: #fff
}

.block-link-xs-sm .bg-phone-block {
    font-size: 26px
}

.block-link-xs-sm .bg-phone-block .phone-text {
    font-size: 22px
}

.item-category-block .item-category-content {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 40px;
    text-align: left;
    color: #323232
}

.item-category-block .catalog-btn-item {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 40px
}

.item-category-block .read_more_a {
    padding: 10px 20px 10px 50px;
    border: 1px solid #c8302f;
    border-radius: 40px;
    background: #d62c2b
}

.item-category-block .catalog-btn-item:after {
    position: relative;
    right: -20px;
    padding: 20px;
    content: '';
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 0;
    background: url(../images/BG-Catalog_seta.png) center center no-repeat
}

.item-category-block .catalog-btn-item:hover:after {
    right: 0;
    opacity: 1
}

.category-content {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    line-height: 23px;
    text-align: left;
    color: #323232
}

.bg-title-block-h1 span {
    padding-right: 25px;
    padding-left: 25px;
    background-color: #fff
}

.item-category-block {
    margin-bottom: 10px;
    margin-bottom: 35px;
    padding-bottom: 0;
    padding-left: 0;
    border: 1px solid #ccc;
    border-radius: 0
}

.item-category-block .product-prev {
    display: table;
    height: 275px;
    background: #eaeaea
}

.item-category-block .product-prev div {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

.item-category-block .product-prev:hover {
    background: #c8302f
}

.item-category-block p {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 18px;
    text-align: left;
    color: #646464
}

.item-products-block {
    margin-bottom: 25px;
    padding: 0;
    border: 1px solid #d3d3d3
}

.item-products-block:hover {
    border: 1px solid #d92827
}

.item-products-block:hover div.item-category-content {
    display: none
}

.item-products-block .product-prev-img {
    padding: 0
}

.item-products-block .product-content {
    line-height: 20px;
    color: #323232
}

.item-products-block table.item-table-product {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0
}

.item-products-block table.item-table-product th {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    padding-left: 0;
    color: #323232;
    border: none;
    background-color: #fff
}

.item-products-block table.item-table-product tr.color-f2 {
    background-color: #f2f2f2
}

.item-products-block table.item-table-product tr {
    background-color: #ededed
}

.item-products-block table.item-table-product th.cost {
    color: #d92827
}

.item-products-block table.item-table-product td {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #323232;
    border: 2px solid #fff
}

.item-products-block .cart-buttton {
    position: absolute;
    left: 25%;
    margin-top: 20px;
    padding: 10px 20px 10px 50px;
    opacity: 0;
    border: 1px solid #c8302f;
    border-radius: 40px;
    background: #d62c2b
}

.item-products-block:hover .cart-buttton {
    opacity: 1
}

.item-products-block a.catalog-btn-item {
    font-family: 'OpenSansRegular';
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 40px
}

.item-products-block a.catalog-btn-item:after {
    position: relative;
    right: -20px;
    padding: 20px;
    content: '';
    -webkit-transition: all 1s;
    transition: all 1s;
    background: url(../images/BG-Catalog_seta.png) center center no-repeat
}

.modal-body .text-price {
    font-size: 16px
}

.modal-body .text-price #cost {
    font-weight: 700;
    padding-left: 5px;
    color: #d92827
}

.modal-body .text-price .currency {
    font-weight: 700;
    padding-left: 5px;
    color: #d92827
}

.selectbox {
    width: 100%;
    margin: 4px 0;
    cursor: pointer;
    vertical-align: middle
}

.selectbox .select {
    font-size: 14px;
    line-height: 1.42857143;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}

.selectbox .select:hover {
    background-position: 0 -10px
}

.selectbox .select:active {
    background: #f5f5f5;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.15)
}

.selectbox.focused .select {
    border: 1px solid #5794bf
}

.selectbox .select .text {
    display: block;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis
}

.selectbox .trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%
}

.selectbox .trigger .arrow {
    position: absolute;
    z-index: 9999;
    top: 12px;
    right: 12px;
    width: 0;
    height: 0;
    border-top: 10px solid #d9534f;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent
}

.selectbox .dropdown {
    font-family: calibri,arial,verdana,tahoma;
    font-size: 16px;
    top: 33px;
    width: 100%;
    margin: 0;
    padding: 4px 0;
    color: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.2)
}

.selectbox li {
    padding: 5px 10px 6px;
    list-style: none;
    color: #231f20
}

.selectbox li.selected {
    color: #fff;
    background: #d9534f
}

.selectbox li:hover {
    color: #fff;
    background: #d9534f
}

.selectbox li.disabled {
    color: #aaa
}

.selectbox li.disabled:hover {
    background: none
}

.form-control:focus {
    border-color: #d9534f!important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(251,220,226,.6)!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(251,220,226,.6)!important
}

#page-obrazec-btn {
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 50px;
    text-transform: uppercase;
    border-radius: 40px
}

.content {
    margin-bottom: 95px
}

.block-link-obrazcy {
    padding-right: 5%;
    padding-left: 5%
}

.link-obrazcy-title {
    font-family: 'OpenSansSemibold';
    font-size: 20px;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #323232
}

.block-link-obrazcy p {
    font-size: 18px;
    color: #323232
}

.block-link-contact {
    padding-right: 10%;
    padding-left: 10%
}

.block-obrazec {
    margin-bottom: 55px;
    padding-bottom: 40px;
    border: 1px solid #c33;
    border-radius: 5px;
    background: url(../images/obrazcy-bkg.png) -50px 4% no-repeat
}

.block-obrazec input {
    margin-bottom: 30px
}

.heder-form-obrazec {
    padding-top: 35px;
    padding-bottom: 55px
}

.heder-form-obrazec select {
    margin-top: 20px
}

.obrazec-form-title {
    font-size: 16px;
    padding-left: 40%;
    text-transform: uppercase;
    color: #323232
}

.obrazec-form-title span {
    font-size: 30px;
    color: #d92827
}

.block-form-contact {
    padding-bottom: 40px;
    border: 1px solid #d62a20;
    border-radius: 5px;
    background: url(../images/contact-bkg.png) -4% 4% no-repeat
}

.block-form-contact textarea.form-control {
    height: 205px
}

.block-form-contact .form-control {
    font-size: 16px;
    height: 40px
}

#page-contact-btn {
    font-size: 18px;
    margin-top: 20px;
    padding: 15px 50px;
    text-transform: uppercase;
    border-radius: 40px
}

.contact-title {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 12%;
    text-transform: uppercase;
    color: #c33
}

.contact-block-cities {
    margin-bottom: 55px
}

.contact-block-city {
    margin-bottom: 20px;
    background: url(../images/border-contacts-lock.png)center bottom no-repeat
}

.contact-block {
    width: 225px;
    height: 475px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-bottom: 20px
}

.contact-block h3 {
    font-size: 22px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: #c33
}

.contact-block address {
    font-size: 16px;
    line-height: 24px
}

.earth-block {
    margin-top: 50px;
    margin-bottom: 50px
}

.earth-block h4 {
    font-family: 'OpenSansSemibold';
    text-transform: uppercase;
    color: #c33
}

.earth-block-title {
    font-family: 'OpenSansSemibold';
    line-height: 25px;
    color: #c33
}

.earth {
    background: url(../images/earth.png)left center no-repeat;
    background-size: contain
}

.earth-block ul {
    padding-top: 35px;
    padding-left: 50%
}

.earth-block li {
    font-size: 16px;
    margin-bottom: 55px;
    color: #666
}

.earth-block li:last-child {
    margin-bottom: 30px
}

.grey-bloks {
    margin-top: 20px;
    margin-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px
}

.grey-bloks div {
    height: 270px;
    padding: 30px
}

.grey-bloks div.grey-block-1 {
    font-size: 16px;
    background-color: #e4e4e4
}

.grey-bloks div.grey-block-1 ul {
    padding-left: 20px;
    list-style: disc
}

.grey-bloks div.grey-block-1 ul > li {
    margin-bottom: 10px
}

.grey-bloks div.grey-block-1 ul > li > strong {
    font-family: 'OpenSansSemibold'
}

.grey-bloks div.grey-block-2 {
    background-color: #dad9d9
}

.grey-bloks div.grey-block-3 {
    background-color: #f1f1f1
}

.red-blocks div > div {
    height: 190px;
    padding: 10px;
    text-align: center;
    color: #fff
}

.red-blocks div > p {
    font-size: 20px
}

.red-blocks span {
    font-family: 'KizoMedium';
    font-size: 4vw
}

.red-blocks .red-block1 {
    background-color: #933
}

.red-blocks .red-block2 {
    background-color: #c33
}

.red-blocks .red-block3 {
    background-color: #d62a20
}

.red-blocks .red-block4 {
    background-color: #f33
}

.page_content {
    font-family: 'OpenSansRegular';
    font-size: 18px;
    line-height: 1.2;
    text-align: left;
    color: #666
}

.page_content p {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px
}

.bg-title {
    font-family: 'OpenSansLight';
    font-size: 24px;
    line-height: 35px;
    padding-bottom: 40px;
    padding-left: 15px;
    color: #333
}

.bg-title-block-h4 {
    font-family: 'OpenSansSemibold';
    font-size: 18px;
    padding-bottom: 15px;
    color: #c33
}

.history-map {
    height: 647px;
    background: url(../images/bg-page-history.png) 100% 100% no-repeat;
    background-size: contain
}

.history-map-en {
    height: 647px;
    background: url(../images/bg-page-history-de.png) 100% 100% no-repeat;
    background-size: contain
}

.block-link-page {
    font-family: 'OpenSansRegular';
    font-size: 20px;
    display: inline-block;
    width: 100%;
    margin-top: 50px
}

.block-link-page li.btn-yelow {
    margin-right: 30px;
    background-color: #f90
}

.block-link-page li.btn-red {
    background-color: #c33
}

.block-link-page p {
    line-height: 25px;
    margin-bottom: 10px
}

.block-link-page li {
    display: table;
    float: left;
    width: 47%;
    margin-bottom: 40px
}

.block-link-page li a {
    font-family: 'OpenSansRegular';
    font-size: 28px;
    display: table-cell;
    padding-left: 5%;
    text-align: left;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff
}

.block-link-page li span {
    font-size: 3em;
    display: table-cell;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    vertical-align: middle;
    color: #fff
}

.block-link-page li span.icon-btn-link-2 {
    background-color: #f90
}

.block-link-page li span.icon-btn-link-1 {
    background-color: #c33
}

p.page-accent {
    margin-bottom: 20px;
    color: #333
}

p.page-accent-obrazec {
    font-size: 18px
}

p.page-phone {
    font-size: 1.5em;
    color: #333
}

.content-block {
    padding-right: 0!important;
    padding-left: 0!important
}

.article-item {
    margin-bottom: 30px
}

.article-item h1 {
    font-family: 'OpenSansRegular';
    font-size: 20px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    color: #d92827
}

.article-item .news-meta {
    margin-bottom: 20px
}

.article-item .news_content {
    font-family: 'OpenSansRegular';
    font-size: 1.4em;
    margin-top: 40px;
    margin-bottom: 60px;
    color: #323232
}

.article-item .news_content p {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    color: #323232
}

.product-view {
    padding-bottom: 50px
}

.product-view .large-image {
    text-align: center
}

.product-view .large-image img {
    max-width: 100%
}

.product-view .flexslider-thumb {
    position: relative;
    max-width: 332px;
    margin: 30px auto 0;
    padding: 0 45px
}

.product-view .flexslider-thumb .flex-viewport {
    z-index: 10
}

.product-view .previews-list {
    padding: 0;
    list-style-type: none;
    text-align: center
}

.product-view .previews-list li {
    display: inline-block;
    float: none;
    width: 76px;
    margin-right: 7px;
    padding: 0
}

.product-view .flexslider-thumb .flex-direction-nav {
    z-index: 9;
    top: 30%;
    left: 0;
    width: 100%
}

.product-view .flexslider-thumb .flex-prev {
    position: absolute;
    left: 0
}

.product-view .flexslider-thumb .flex-next {
    position: absolute;
    right: 0
}

.product-label h1 {
    font-family: 'OpenSansRegular';
    font-size: 25px;
    margin: 20px 0 10px;
    color: #d92827
}

p.product-kod {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    line-height: 22px;
    color: #646464
}

.product-label p.product-parametr {
    margin-bottom: 5px
}

.product-parametr {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    color: #323232
}

.item-category-content {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    line-height: 20px;
    color: #323232
}

.product-label .product-value {
    margin-bottom: 35px
}

.product-label .cart-buttton {
    font-family: 'OpenSansRegular';
    margin-top: 20px;
    padding: 10px 50px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #c8302f;
    border-radius: 40px;
    background: #d62c2b
}

.product-label table.item-table-product {
    margin-top: 15px;
    margin-bottom: 30px;
    border: 0
}

.product-label table.item-table-product th {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    padding-left: 0;
    color: #323232;
    border: none;
    background-color: #fff
}

.product-label table.item-table-product tr.color-f2 {
    background-color: #f2f2f2
}

.product-label table.item-table-product tr {
    background-color: #ededed
}

.product-label table.item-table-product th.cost {
    color: #d92827
}

.product-label table.item-table-product td {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #323232;
    border: 2px solid #fff
}

.product-description {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    line-height: 22px;
    color: #323232
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.modal-open .modal {
    z-index: 9000
}

.modal-header {
    padding: 15px;
    text-align: center;
    border-bottom: none!important;
    background: url(/images/popup_background.jpg) left top no-repeat
}

.modal-header h4 {
    font-family: 'OpenSansRegular';
    font-size: 30px;
    text-transform: uppercase;
    color: #d92827
}

.modal-header p {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    color: #323232
}

.modal-header .close {
    font-size: 40px;
    opacity: .5;
    color: #9d9d9d
}

.modal-body {
    padding-right: 40px!important;
    padding-left: 40px!important
}

.modal-body #contact-form input,.modal-body #contact-form textarea {
    font-family: 'OpenSansLight-italic';
    font-size: 16px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #323232
}

.modal-body ol {
    font-family: 'OpenSansLight-italic';
    font-size: 12px;
    font-style: italic;
    padding-left: 20px;
    list-style: decimal;
    color: #151515
}

.modal-body p {
    font-family: 'OpenSansLight-italic';
    font-size: 12px;
    font-style: italic;
    color: #151515
}

.modal-body .bg-btn {
    font-family: 'OpenSansRegular';
    font-size: 18px;
    padding: 10px 40px;
    text-transform: uppercase;
    color: #fefefe;
    border-radius: 25px;
    background-color: #d92827
}

.search-block {
    margin-bottom: 20px;
    text-align: center
}

.search-block .input-group input.form-control {
    width: 250px
}

footer {
    min-height: 300px;
    margin-top: 45px!important;
    color: #323232;
    background-color: #c5c5c5
}

footer .logo-footer {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 18px
}

footer .logo-footer-block {
    padding-bottom: 15px
}

footer .logo-footer-block ul {
    text-align: center;
    color: #fff
}

footer .logo-footer-block ul li {
    padding: 10px;
    border: solid 1px #fff
}

footer .logo-footer-block ul a {
    font-size: 20px;
    color: #fff
}

footer .bg-links {
    padding-top: 35px
}

footer .bg-links ul {
    padding-top: 0
}

footer .bg-links ul li {
    padding-bottom: 10px
}

footer .bg-links ul a {
    font-family: 'OpenSansLight';
    font-size: 14px;
    color: #464646
}

footer .bg-address {
    padding-top: 35px
}

footer .bg-address h2 {
    padding-left: 10px
}

footer .bg-address a {
    font-family: 'OpenSansSemibold';
    font-size: 15px;
    font-weight: 700;
    color: #646464
}

footer .bg-footer-sm a,footer .bg-footer-sm p {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #646464
}

footer .bg-address a span {
    font-size: 18px;
    font-weight: 700;
    float: right!important;
    color: #fff
}

footer address {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    line-height: 19px;
    color: #575756
}

footer .bg-footer-sm a span {
    font-size: 15px;
    font-weight: 700;
    float: right!important;
    color: #c5c5c5
}

footer .bg-address .panel-default > .panel-heading {
    padding: 10px 15px;
    border: 1px solid #a9a9a9;
    border-radius: 20px;
    background-color: #c5c5c5
}

footer .bg-address .panel {
    border: none;
    background-color: #c5c5c5
}

footer .bg-address .panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding: 5px 15px;
    border: none;
    background: none;
    background-color: #c5c5c5
}

footer .bg-address .panel-default .in::parent {
    background-color: red!important
}

footer .bg-address h3 {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    line-height: .857;
    margin-top: 12px;
    padding-bottom: 30px;
    text-align: center;
    color: #323232
}

footer .bg-address div {
    margin: 0 auto
}

footer .bg-social dl {
    padding-top: 20px
}

footer .bg-address dt {
    color: #8f8f8f
}

footer .bg-address dd {
    padding-bottom: 10px
}

footer h2 {
    font-family: 'OpenSansLight';
    font-size: 20px!important;
    line-height: 1.2;
    margin-top: 0;
    padding-bottom: 15px;
    text-transform: uppercase;
    color: #323232
}

footer p {
    font-family: 'OpenSansLight';
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #464646
}

footer .bg-contact-form .col-sm-5 {
    padding-left: 0
}

footer .help-block {
    position: absolute;
    bottom: 30px
}

footer .bg-contact-form input {
    font-family: 'OpenSansLight-italic';
    color: #323232;
    border: 1px solid #fff
}

footer .bg-contact-form textarea {
    font-family: 'OpenSansLight-italic';
    height: 165px;
    padding-top: 20%;
    padding-bottom: 50px;
    text-align: center;
    color: #323232;
    border: 1px solid #fff;
    background: #c5c5c5
}

footer .bg-contact-form #footer-contact-btn {
    font-family: 'OpenSansRegular';
    font-size: 18px;
    line-height: 1.2;
    width: 80%;
    margin-top: 18px;
    margin-left: 10%;
    text-transform: uppercase;
    color: #fff;
    border-radius: 20px;
    background: #c8302f
}

footer .bg-contact-form input::-webkit-input-placeholder,footer .bg-contact-form textarea::-webkit-input-placeholder {
    color: #323232
}

footer .bg-contact-form input:-moz-placeholder,footer .bg-contact-form textarea:-moz-placeholder {
    color: #323232
}

footer .bg-contact-form button:hover {
    color: #fff;
    background: #f42120
}

footer .bg-social {
    height: 300px;
    padding-top: 50px;
    background: url(../images/bg-social.png) no-repeat;
    background-position: 15px 95px
}

footer .bg-social h2 {
    padding-right: 10%;
    text-align: center
}

footer .bg-social dl {
    padding-top: 20px
}

footer .bg-social dt,footer .bg-social dd {
    font-family: 'OpenSansRegular';
    font-size: 16.762px;
    line-height: 1.2;
    color: #575555
}

footer .bg-social dd {
    padding-bottom: 10px
}

.navmenu-nav.dropdown-menu {
    position: relative
}

.dropdown-backdrop {
    position: static
}
.g-recaptcha div{
    margin: 0 auto;
}
